body {
   margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 400px;
    padding-top: 16px;
}

.links{
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 150px;
}

.signup {
    display: flex;
    justify-content: space-between;
    margin: 0px 400px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button-signup {
    background-color: #3882F6;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 100px;
    padding: 8px 16px;
    border: 0;
    border-radius: 6px;
    margin-top: 8px;
}

.left-side {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.image {
    height: 200px;
    width: 500px;
    background-color: grey;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 150px;
}

.info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.subtext {
    color: grey;
    font-size: 18px;
    text-align: center;
}

.illustration {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;
    gap: 8px;
}

.menu {
    display: flex;
    gap: 48px;
}

.text-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote {
    display: flex;
    margin: 0px 400px;
    flex-direction: column;
    max-width: 800px;
    
}

.back {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.author {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}
